[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
dependency-injector = "*"
sqlalchemy = "*"
pytest = "*"
httpx = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pluralizer = "*"
alembic = "*"
factory-boy = "*"
pytest-env = "*"
loguru = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
